.mainContent {
    display: block;
}

.topContent {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

.bgContent {
    z-index: 0;
    position: fixed;
    max-width: 100vw;
}

.bgContent img {
    transform: translateY(-3em);
    max-height: 100vh;
    min-width: 100vw;
}

.titleAndButton {
    display: flex;
    background-color: #2d2f3138;
    padding-bottom: 4em;
    padding-top: 4rem;
}

.titleAndButton .titles {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.titleAndButton .bigTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'TimesNewRomanMTCondensed', 'Times New Roman';
    font-size: 5em;
    line-height: 1.15;
    color: white;
    padding-left: 3rem;
}
.titleAndButton .bigTitle .bigTitleItalic {
    font-family: 'TimesNewRomanMTCondensedItalic', 'Times New Roman';
    margin-top: -2rem;
    margin-left: 1rem;
}

.titleAndButton .smallTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding-left: 3rem;
    padding-top: 3rem;
}

.titleAndButton .smallTitle .smallTitleBold {
    font-family: 'AthelasBold', 'Times New Roman', Times, serif;
    font-size: 2.1em;
}

.titleAndButton .smallTitle .smallTitleRegular {
    font-family: 'AthelasRegular', 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin-top: -0.5em;
}

.titleAndButton .bookButton {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleAndButton .bookButton img {
    width: 9em;
}

.titleAndButton .bookButton .p-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff00;
    border: none;
    transition: all 0.2s ease;
    gap: 0.4em;
    font-family: 'TimesNewRomanMTCondensedItalic', 'Times New Roman';
    font-size: 1.8em;
}

.titleAndButton .bookButton .p-button:hover {
    transform: scale(1.05);
}

.titleAndButton .bookButton .p-button:focus {
    box-shadow: none;
}

.whiteBg {
    width: 100%;
    background-color: white;
}

.whiteBg .withHeight{
    min-height: 120vh;
}

/* .whiteBg .blueLine img {
    margin-bottom: -55em;
    position: absolute;
    width: 38vw;
} */

.whyChooseUsContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4vw 6vw;
}

.whyChooseUsTitle {
    font-family: 'TimesNewRomanMTCondensed', 'Times New Roman';
    font-size: 5em;
    color: #344759;
    padding: 0.5em 0;
}

.whyChooseUsTitleItalic {
    font-family: 'TimesNewRomanMTCondensedItalic', 'Times New Roman';
    padding-left: 10rem;
    margin-top: -2rem;
}

.whyChooseUsTextAndImg {
    display: grid;
    grid-template-columns: minmax(380px, 1.15fr) minmax(320px, 0.85fr);
    align-items: center;
    justify-items: center;
    gap: 3rem;
    width: min(1180px, 100%);
    padding-top: 1em;
}

.whyChooseUsTextAndImg img {
    width: 100%;
    max-width: 23em;
    border-radius: 5em;
}

.whyChooseUsText {
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0;
    font-size: 1.3em;
    row-gap: 0.25em;
}

.whyChooseUsTextBold {
    font-family: 'AthelasBold', 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

.whyChooseUsTextRegular {
    font-family: 'AthelasRegular', 'Times New Roman', Times, serif;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.isThisForMeTitle {
    font-family: 'TimesNewRomanMTCondensed', 'Times New Roman';
    font-size: 5em;
    color: #344759;
}

.isThisForMeTitleItalic {
    font-family: 'TimesNewRomanMTCondensedItalic', 'Times New Roman';
    padding-left: 4rem;
    margin-top: -2rem;
}

.isThisForMeText {
    font-family: 'AthelasRegular', 'Times New Roman', Times, serif;
    font-size: 1.4em;
    width: 80%;
    margin-top: 2em;
    text-align: justify;
    padding: 0 5% 5% 5%;
}

.whiteBg .curveShadow img {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.gentleSlide {
    transform: translateY(5em);
    margin-bottom: 34em;
}

.blueLineBg {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4em 0;
}

.darkBlueLine {
    position: absolute;
    background-color: #344759;
    height: 60%;
    width: 100%;
}

.stillHaveQuestionsBg {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 2em 0;
    margin: 4em 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.stillHaveQuestionsTitle {
    font-family: 'TimesNewRomanMTCondensedItalic', 'Times New Roman';
    font-size: 4em;
    color: #344759;
    text-align: center;
}

.stillHaveQuestionsBg .p-button{
    border: none;
    color: white;
    background: #2D3B55;
    border-radius: 2em;
}

.stillHaveQuestionsBg .p-button:hover{
    background: #202735;
}

.stillHaveQuestionsBg .p-button:focus{
    outline: none;
    outline-offset: none;
}

.footer {
    z-index: 1;
    position: relative;
}

@media (max-width: 2560px) {
    .whiteBg .withHeight {
        min-height: 120vh;
    }
}

@media (max-width: 1440px) {
    .whiteBg .withHeight {
        min-height: 150vh;
    }
}

@media (max-width: 992px) {
    .titleAndButton {
        padding: 3rem 2rem 4rem;
        gap: 2rem;
    }

    .titleAndButton .bigTitle {
        font-size: 4em;
        padding-left: 2rem;
    }

    .titleAndButton .bigTitle .bigTitleItalic {
        margin-top: -1.6rem;
        margin-left: 0.8rem;
    }

    .titleAndButton .smallTitle {
        padding-left: 2rem;
        padding-top: 2rem;
    }

    .titleAndButton .bookButton {
        width: 40%;
    }

    .whiteBg .withHeight {
        min-height: 165vh;
    }

    .whyChooseUsTitle {
        font-size: 3em;
        text-align: center;
    }

    .whyChooseUsTitleItalic {
        padding-left: 5rem;
        margin-top: -1.6rem;
    }

    .whyChooseUsTextAndImg {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 2rem;
        width: min(900px, 100%);
    }

    .whyChooseUsText {
        width: 100%;
        margin-left: 0;
        align-items: center;
        text-align: center;
        font-size: 1.2em;
    }

    .whyChooseUsTextAndImg img {
        width: clamp(20em, 70vw, 28em);
    }

    .isThisForMeTitle {
        font-size: 4.2em;
    }

    .isThisForMeTitleItalic {
        padding-left: 2.8rem;
        margin-top: -1.6rem;
    }

    .isThisForMeText {
        padding: 0 5% 5% 5%;
    }
}

@media (max-width: 600px) {
    .titleAndButton {
        flex-direction: column;
        padding: 2.5rem 1.25rem 3rem;
        gap: 2rem;
    }

    .titleAndButton .titles {
        width: 100%;
        align-items: flex-start;
    }

    .titleAndButton .bigTitle,
    .titleAndButton .smallTitle {
        padding-left: 0;
        text-align: left;
    }

    .titleAndButton .bigTitle .bigTitleItalic {
        margin-top: -1.2rem;
        margin-left: 0.6rem;
    }

    .titleAndButton .bookButton {
        width: 100%;
        justify-content: center;
    }

    .titleAndButton .bigTitle {
        font-size: clamp(3.2em, 14vw, 4.2em);
    }

    .titleAndButton .bookButton {
        justify-content: center;
    }

    .whyChooseUsTitle {
        font-size: 2.4em;
        padding: 2.2em 0 0.5em;
    }

    .whyChooseUsText {
        width: 100%;
        font-size: 1.1em;
        gap: 0.8rem;
        padding: 0;
    }

    .whyChooseUsTextBold {
        font-size: 1.35em;
    }

    .whyChooseUsTextRegular {
        font-size: 1.05em;
    }

    .whyChooseUsTextAndImg img {
        width: clamp(16em, 80vw, 24em);
    }

    .isThisForMeTitle {
        font-size: 2.4em;

    }

    .isThisForMeTitleItalic {
        padding-left: 1.8rem;
        margin-top: -1.2rem;
    }
    
    .isThisForMeText {
        font-size: 1.225em;
    }

    .whyChooseUsTitleItalic {
        padding-left: 3.2rem;
        margin-top: -1.2rem;
    }
}
