.mainContent {
    display: block;
}

.topContent {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    max-width: 100vw;
}

.bgContent {
    z-index: 0;
    position: fixed;
    max-width: 100vw;
}

.bgContent img {
    transform: translateY(-3em);
    max-height: 100vh;
    min-width: 100vw;
}

/* .topContent img{
    width: 100%;
    position: sticky;
} */

.titleAndButton {
    display: flex;
    background-color: #34475961;
    padding-bottom: 4em;
}

.titleAndButton .titles {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.titleAndButton .bigTitle {
    width: 100%;
    display: flex;
    align-items: flex-start;
    font-family: 'LemonMilk', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    color: white;
    padding-left: 3rem;
    padding-top: 3rem;
}

.titleAndButton .smallTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding-left: 3rem;
    padding-top: 1rem;
}

.titleAndButton .smallTitle .smallTitleBold {
    font-family: 'AthelasBold', 'Times New Roman', Times, serif;
    font-size: 2.1em;
}

.titleAndButton .smallTitle .smallTitleRegular {
    font-family: 'AthelasRegular', 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin-top: -0.5em;
}

.titleAndButton .bookButton {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleAndButton .bookButton img {
    width: 9em;
}

.titleAndButton .bookButton .p-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff00;
    border: none;
    transition: all 0.2s ease;
    gap: 0.4em;
    font-family: 'LemonMilk', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.35em;
}

.titleAndButton .bookButton .p-button:hover {
    transform: scale(1.05);
}

.titleAndButton .bookButton .p-button:focus {
    box-shadow: none;
}

.whiteBg {
    width: 100%;
    background-color: white;
}

.whiteBg .blueLine img {
    margin-bottom: -55em;
    position: absolute;
    width: 38vw;
}

.whyChooseUsContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whyChooseUsTitle {
    font-family: 'LemonMilk', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    color: #344759;
    padding: 1.5em 0 0.5em;
}

.whyChooseUsTextAndImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.whyChooseUsTextAndImg img {
    width: 30em;
}

.whyChooseUsText {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 3em;
    font-size: 1.4em;
}

.whyChooseUsTextBold {
    font-family: 'AthelasBold', 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

.whyChooseUsTextRegular {
    font-family: 'AthelasRegular', 'Times New Roman', Times, serif;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.isThisForMeTitle {
    font-family: 'LemonMilkLight', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    font-weight: 100;
    color: #344759;
}

.isThisForMeText {
    font-family: 'AthelasRegular', 'Times New Roman', Times, serif;
    font-size: 1.2em;
    width: 75%;
    margin-top: 1em;
    /* margin-bottom: 2em; */
    text-align: center;
}

.whiteBg .curveShadow img {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.gentleSlide {
    /* transition: none; Remove transition for smooth scroll-based animation */
    transform: translateY(5em);
    margin-bottom: 34em;
}

.blueLineBg {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4em 0;
}

.darkBlueLine {
    position: absolute;
    background-color: #344759;
    height: 60%;
    width: 100%;
}

.stillHaveQuestionsBg {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 2em 0;
    margin: 4em 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.stillHaveQuestionsTitle {
    font-family: 'LemonMilkLight', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    color: #344759;
}

.stillHaveQuestionsBg .p-button{
    border: none;
    color: white;
    background: #2D3B55;
    border-radius: 2em;
}

.stillHaveQuestionsBg .p-button:hover{
    background: #202735;
}

.stillHaveQuestionsBg .p-button:focus{
    outline: none;
    outline-offset: none;
}

.footer {
    z-index: 1;
    position: relative;
}