.pricesSection {
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: white;
    width: 75%;
    padding: 1em 0;
    gap: 1em;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.pricesSectionTitle {
    font-family: 'LemonMilk', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    color: #344759;
    padding: 1em 0 1em;
}

.pricesSectionContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;

}

.priceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    width: 30%;
    /* height: 20rem; */
    background-color: #344759;
    padding: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.priceCardTitle {
    font-family: 'LemonMilk', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    color: white;
    margin-bottom: 1em;
}

.priceCardTextSubtitle {
    font-family: 'LemonMilkLight', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    color: white;
    margin-bottom: 0.5em;
}

.priceCardText {
    font-family: 'AthelasRegular', 'Times New Roman', Times, serif;
    font-size: 1em;
    color: white;
    margin-bottom: 2em;
}

.priceCardPill {
    background-color: #fff;
    color: #344759;
    font-family: 'LemonMilkLight', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    border-radius: 1em;
    height: 2em;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.pricesSectionFooterTitle {
    text-align: center;
    font-family: 'LemonMilkLight', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    color: #344759;
    margin-top: 1em;
}

.pricesSectionFooterText {
    text-align: center;
    font-family: 'AthelasRegular', 'Times New Roman', Times, serif;
    font-size: 1em;
    color: #344759;
    margin-bottom: 2em;
}