@font-face {
    font-family: 'LemonMilk';
    src: url('/fonts/LEMONMILK-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LemonMilkLight';
    src: url('/fonts/LEMONMILK-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LemonMilkBold';
    src: url('/fonts/LEMONMILK-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TheSeries';
    src: url('/fonts/The Series.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AthelasRegular';
    src: url('/fonts/Athelas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AthelasBold';
    src: url('/fonts/Athelas-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TimesNewRomanMTCondensed';
    src: url('/fonts/Times New Roman MT Condensed Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TimesNewRomanMTCondensedItalic';
    src: url('/fonts/Times New Roman MT Condensed Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

body{
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

a,
button,
input,
textarea {
    -webkit-tap-highlight-color: transparent;
}
